/* Colors & Fonts */
$black: #272932;
$darkgray: #898b98;
$lightgray: #e7ecef;
$darkgreen: #3f5b53;
$lightgreen: #6e9086;
$darkpink: #de356a;
$midpink: #df6c90;
$lightpink: #fdc8b7;
$white: #fbfbfb;

/* Import all the partials */
@import 'reset';
@import 'base';
@import 'typography';
@import 'layout';
@import 'component';